<!--ETOILES Avis a donner-->
<div class="etoiles" id="etoilesArtVote{{ article.id }}" data-prototype="{{ url('acme_vote_article') }}">
	<ul>
		<li id="vote_1" class="note" data-prototype="{{ article.id }}__1__#etoilesArtVote{{ article.id }}" title="Mauvais">
			<ul>
				<li id="vote_2" class="note" data-prototype="{{ article.id }}__2__#etoilesArtVote{{ article.id }}" title="Moyen">
					<ul>
						<li id="vote_3" class="note" data-prototype="{{ article.id }}__3__#etoilesArtVote{{ article.id }}" title="Bon">
							<ul>
								<li id="vote_4" class="note" data-prototype="{{ article.id }}__4__#etoilesArtVote{{ article.id }}" title="Très bon">
									<ul>
										<li id="vote_5" class="note" data-prototype="{{ article.id }}__5__#etoilesArtVote{{ article.id }}" title="Excellent">
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul> 
</div>
<!--FIN ETOILES DEJA DONNEES-->
