<div id="container_menu_produits_G">  
	<!-- menu haut-->
	<div class="produits_catogories_G">
		<a href="{{ url('acme_site_univers', {'categorieSlug' : 'repassage-vapeur'}) }}"><span class="btn_mecanique{{ actif_mecaniques }}">Repassage</span></a>
		<a href="{{ url('acme_site_univers', {'categorieSlug' : 'aspiration-sol'}) }}"><span class="btn_electronique{{ actif_electroniques }}">Aspiration</span></a>
		<a href="{{ url('acme_site_univers', {'categorieSlug' : 'petit-electromenager'}) }}"><span class="btn_brodeuse{{ actif_brodeuses }}">Petit électroménager</span></a>
	</div>
	<div class="produits_catogorie_retour"><a href="{{ url('acme_site_pageProduits') }}">Retour page produits</a></div>
</div>
