<!DOCTYPE html> <!-- HTML 5 -->
<html lang="fr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{% block title %}Labo{% endblock %}</title>
		{% if app.session.get('version').favicon is not null %}
		<link rel="icon" type="image/x-icon" href="{{ asset(app.session.get('version').favicon) }}" />
		{% else %}
		<link rel="icon" type="image/x-icon" href="{{ asset('images/favicons/' ~ app.session.get('version').slug ~ '.ico') }}" />
		{% endif %}
		{% stylesheets filter='cssrewrite, ?yui_css'
		'bundles/labotestmanu/css/jquery-ui.css'
		'bundles/labotestmanu/css/jquery-ui-1.10.3.custom.css'
		'bundles/labotestmanu/css/jquery.fancybox.css'
		'bundles/acmegroupsite/css/styles_richtexts.css'
		'bundles/labotestmanu/js/chosen_v1.0.0/chosen.css'
		'bundles/labotestmanu/css/bootstrap.css'
		'bundles/labotestmanu/css/orbit-style.css'
		'bundles/labotestmanu/css/styles.css'
		 %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
		{% endstylesheets %}
	</head>
	<body>
		{% block navbar %}
			{{ render(controller("AcmeGroupLaboBundle:Labo:navbar")) }}
		{% endblock %}
		<!-- DEBUT : CONTENU DE LA PAGE -->
		{% block body_container %}
		{% endblock body_container %}
		<!-- FIN : CONTENU DE LA PAGE -->
		{% include ":common:iframe.html.twig" %}
		{% include ":common:devStuffs.html.twig" %}
		{% include ":common:hiddenStuffs.html.twig" %}
		{% javascripts filter='?yui_js'
		'bundles/labotestmanu/js/jquery-2.0.3.js'
		'bundles/labotestmanu/js/jquery-ui.js'
		'bundles/labotestmanu/js/jquery.fancybox.js'
		'bundles/labotestmanu/js/jquery.fancybox.pack.js'
		'bundles/labotestmanu/js/jquery.mousewheel-3.0.6.pack.js'
		'bundles/labotestmanu/js/aetools.js'
		'bundles/labotestmanu/js/outsideEvents.js'
		'bundles/labotestmanu/js/JQueryFunctions.js'
		'bundles/labotestmanu/js/tinymce/tinymce.js'
		'bundles/labotestmanu/js/chosen_v1.0.0/chosen.jquery.js'
		'bundles/labotestmanu/js/bootstrap.js'
		'bundles/labotestmanu/js/SpecificFunctions.js'
		 %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
		{% block footer %}
		{% endblock %}
	</body>
</html>