{% extends "AcmeGroupSiteBundle::sitePage.html.twig" %}
{% block navbar %}
	{% if pageweb[0].slug is defined %}
	{{ render(controller("AcmeGroupLaboBundle:Labo:navbar", {pageweb: pageweb[0].slug})) }}
	{% else %}
	{{ render(controller("AcmeGroupLaboBundle:Labo:navbar")) }}
	{% endif %}
{% endblock navbar %}
{% block siteroot_body %}
	{{ render(controller('AcmeGroupSiteBundle:Site:menu')) }}
	{% block body_container %}
		<div id="container_site" class="">
			<div id="container_principal_generique" class="richtexts">
				<!-- contenu de droite-->
				<div id="container_generique">
					<span class="buttonjs homepage" title="Allez à la page d'accueil">&lt;&nbsp;Page d'accueil</span>
					<span class="buttonjs backpage" title="Revenir à la page précédente">&lt;&nbsp;Retour</span>
					<h1>{{ URIperform(pageweb[0].titreh1)|raw }}</h1>
					{% if pageweb[0].richtexts is not null %}
					{% for texte in pageweb[0].richtexts %}
					<!-- <h3>{{ URIperform(texte.titre)|raw }}</h3> -->
					<p>{{ URIperform(texte.texte)|raw }}</p>
					<br />
					{% endfor %}
					{% endif %}
				</div>
				<!-- Fin contenu de droite-->
			</div>
		</div>
	{% endblock %}
{% endblock %}