{% trans_default_domain 'FOSUserBundle' %}
<h4 class="well well-md">Modifiez votre mot de passe<br />
	<small>Note : vous devez posséder votre mot de passe d'origine <a href="{{ url('fos_user_resetting_request') }}" class="little italic">Mot de passe oublié ?<a></small>
</h4>
{% if form_errors(form) != null %}
<div class="alert alert-danger">
	{{ form_errors(form) }}
</div>
{% endif %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
	<div class="panel panel-default">
		<div class="panel-heading">Nouveau mot de passe</div>
		<div class="panel-body">
			<div class="col-xs-4">{{ form_label(form.current_password) }}</div>
			<div class="col-xs-6">{{ form_widget(form.current_password) }}</div>
		</div>
			{{ form_errors(form.current_password) }}
		<div class="panel-body">
			<div class="col-xs-4">{{ form_label(form.plainPassword.first) }}</div>
			<div class="col-xs-6">{{ form_widget(form.plainPassword.first) }}</div>
		</div>
			{{ form_errors(form.plainPassword.first) }}
		<div class="panel-body">
			<div class="col-xs-4">{{ form_label(form.plainPassword.second) }}</div>
			<div class="col-xs-6">{{ form_widget(form.plainPassword.second) }}</div>
		</div>
			{{ form_errors(form.plainPassword.second) }}
		<div class="panel-body">
			<input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-warning" />
		</div>
    </div>

    {{ form_rest(form) }}
</form>
